server-scape-operations/src/test/resources/example_schematron.xml

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
	<sch:ns uri="http://ns.taverna.org.uk/2014/scape" prefix="m" />
	<sch:pattern>
		<sch:rule context="m:measures">
			<sch:assert test="m:measure">measure element is missing</sch:assert>
			<sch:assert
				test="m:measure[@type='width'][@subject='inputFile']/text() * m:measure[@type='height'][@subject='inputFile']/text() &gt; 999999999"
				>pixel count acceptable</sch:assert>
		</sch:rule>
		<sch:rule context="m:measure">
			<sch:assert test="@type">measure type attribute is missing</sch:assert>
			<sch:assert test="@subject">measure subject attribute is missing</sch:assert>
		</sch:rule>
		<sch:rule context="m:measure[@type='compressionRatio'][@subject='inputFile']">
			<sch:assert test="text()&gt;99">compression ratio acceptable</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
